@font-face {
    font-family: NEW YORK;

    src: url(Tipografia/NEWYORK.ttf);}

@font-face {
		font-family: Suitnice retro;
		src: url(Tipografia/suitnice\ reguler.ttf);
}	

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}

.container{
	width:100% ;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(img/fondox.png);
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	
}


.navbar{
	
	height: 10%;
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0.43),rgba(0,0,0,0.53)),url(img/fondox.png);
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	padding-right: 4%;
	padding-left: 3%;
}
#pedido{
	width: 100%;
	height: 65%;
	display: flex;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(img/xfondo.png);
	padding-top: 5rem;
	background-size: 125%;
	background-position: bottom;
	background-repeat: no-repeat;
}

.logo{
	background-color: rgb(131, 172, 131);
	width: 3rem;
	height: 2.6rem;
	border-top-left-radius:0.5rem;
	border-bottom-left-radius: 0.5rem;
	cursor: pointer;
	display: grid;
	margin-left: 36%;
}

#codigo{
	width: 23rem;
	height: 2.5rem;
	border-top-right-radius:0.5rem;
	border-bottom-right-radius: 0.5rem;
	border: none;
	
}

::placeholder{
	opacity: 70%;
}

p{
	position: absolute;
    top: 30%;
    margin-left: 35%;
	font-size: 3rem;
	font-family: NEW YORK;
	text-align: center;
	color: rgb(0, 0, 0);
	border-radius: 2rem;
	background-color: rgba(255, 228, 196, 0.185);
	padding-left: 2rem;
	padding-right: 2rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo1{
	width: 90px;

}

#home{
	font-size: 1.7rem;
	width: 50px;
	cursor: pointer;
}

#user{
	font-size: 1.7rem;
	width: 50px;
	cursor: pointer;
}


#menu-icon{
	font-size: 1.7rem;
	width: 50px;
	cursor: pointer;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 15px;

}

#femsa{

	color: #fff;
	font-size: 1.3rem;
	font-family: Suitnice retro;
	margin-left: 1rem;
	margin-top: 0.3rem;
	
}

.pie-pagina{
    width: 100%;
    background-color: #05101a;
	border-top: 2px solid #fff;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 130px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p1{
    color: #efefef;
    margin-bottom: 10px;
font-size: 15px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
	
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
